    <div class="navbar navbar-default navbar-inverse navbar-creepypasta navbar-fixed-top">
      <div class="container-fluid" id="navfluid">
        <div class="navbar-header">
          <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a href="" class="dropdown-toggle menu-drop" data-toggle="dropdown" role="button" aria-expanded="false"><i class="mdi mdi-navigation-menu"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/"><i class="mdi-action-home"></i> Home</a></li>
                <li><a href="/team/">Team</a></li>
                <li><a href="https://github.com/SlimRoms/" target="_blank">Source <i class="mdi-action-open-in-new"></i></a></li>
                <li><a href="https://gerrit.slimroms.net/" target="_blank">Gerrit <i class="mdi-action-open-in-new"></i></a></li>
              </ul>
            </li>
          </ul>
          <span class="navbar-brand" href="javascript:void(0)">{{@blog.title}}</span>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse" id="navigationbar">
          <div class="nav navbar-nav navbar-right">
            <!-- disable search fn for now -->
            <!-- <i class="mdi mdi-action-search"></i></a> -->
          </div>
        </div>
      </div> <!-- container-fluid -->
    </div>
