<aside class="sidebar col-md-3 hidden-xs" role="sidebar">
	<div class="well card card-top" align="center">
		<a href="https://plus.google.com/communities/104509876514579429216" target="_blank" class="btn btn-danger btn-fab btn-raised mdi-action-gplus btn-socio"></a>
		<a href="https://twitter.com/slimroms" target="_blank" class="btn btn-danger btn-fab btn-raised mdi-action-twitter btn-socio"></a>
		<a href="https://www.facebook.com/pages/Slim-Roms/340528706063511" target="_blank" class="btn btn-danger btn-fab btn-raised mdi-action-facebook btn-socio"></a>
	</div>

	<div class="well card card-github" align="left">
		<img width="128px" alt="GitHub Octocat" src="/assets/images/octocat.png"
				style="display: block; margin: 0px auto;" />
		<p style="text-align: center; ">
		<a href="http://github.com/slimroms/" target="_blank" class="gh-username">SlimRoms</a> @ GitHub</p>

		<ul id="gh-repos">
		<li id="gh-loading">Status updating...</li>
		</ul>
		<script src="/assets/js/github.js" type="text/javascript"> </script>
		<script type="text/javascript">
			github.showRepos({
				user: 'SlimRoms',
				count: 5,
				skip_forks: false,
			});
		</script>


	</div>

</aside>
