{{!< default}}

<main class="content col-md-9 col-sm-12" role="main">

  {{#post}}

  {{content}}

  {{/post}}

  {{!disable pagination till i figure out stuff}}
  {{!pagination}}

</main>

{{> sidebar}}
