{{!< default}}

<main class="content col-md-12 col-sm-12" role="main">
<div class="well well-lg card card-post-content">
<section class="post-content page-team">

  {{#post}}

  {{content}}

  {{/post}}

</section>
</div>
</main>

{{!> sidebar}}
