<div class="well well-lg card card-post-content">
<section class="post-content">
	<h2 class="post-title">Support</h2>
</section>
</div>
<div class="row para-fix">
<div class="col-md-4">
<div class="well well-lg card card-support withripple" data-toggle="modal" data-target="#install-dialog">
<section class="post-content">How to install SlimROMs</section>
</div>
</div>
<div class="col-md-4">
<div class="well well-lg card card-support withripple" data-toggle="modal" data-target="#bug-reports-dialog">
<section class="post-content">Report Bugs</section>
</div>
</div>
<div class="col-md-4">
<div class="well well-lg card card-support withripple" data-toggle="modal" data-target="#faq-dialog">
<section class="post-content">Frequently Asked Questions</section>
</div>
</div>
</div>
<div class="row para-fix">
<div class="col-md-4">
<div class="well well-lg card card-support withripple" data-toggle="modal" data-target="#manual-dialog">
<section class="post-content">SlimROMs Manual</section>
</div>
</div>
<div class="col-md-4">
<div class="well well-lg card card-support withripple" data-toggle="modal" data-target="#irc-dialog">
<section class="post-content">IRC Support</section>
</div>
</div>
<div class="col-md-4">
<div class="well well-lg card card-support withripple" data-toggle="modal" data-target="#team-dialog">
<section class="post-content">Join the Team</section>
</div>
</div>
</div>

<div id="install-dialog" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">How to install SlimROMs</h4>
			</div>
			<div class="modal-body">
				<p>
				Fore aut non quem incididunt, varias reprehenderit deserunt quem offendit,
				cillum proident ne reprehenderit, quem ad laborum, quo possumus praetermissum,
				si ne illustriora, hic appellat coniunctione, do labore aliqua quo probant. In
				probant voluptatibus quo mentitum est laboris. Quorum mandaremus graviterque.
				Mentitum id velit, dolor aut litteris, ea varias illustriora, ita commodo ita
				ingeniis, iis nulla appellat incurreret, aut irure amet summis pariatur ita ubi
				quis dolore veniam proident, consequat sed ingeniis.
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">Dismiss<div class="ripple-wrapper"><div class="ripple ripple-on ripple-out" style="left: 36.3125px; top: 12px; -webkit-transform: scale(10.75); transform: scale(10.75); background-color: rgba(255, 255, 255, 0.843137);"></div></div></button>
			</div>
		</div>
	</div>
</div>
<div id="bug-reports-dialog" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Report Bugs</h4>
			</div>
			<div class="modal-body">
				<p>
				Fore aut non quem incididunt, varias reprehenderit deserunt quem offendit,
				cillum proident ne reprehenderit, quem ad laborum, quo possumus praetermissum,
				si ne illustriora, hic appellat coniunctione, do labore aliqua quo probant. In
				probant voluptatibus quo mentitum est laboris. Quorum mandaremus graviterque.
				Mentitum id velit, dolor aut litteris, ea varias illustriora, ita commodo ita
				ingeniis, iis nulla appellat incurreret, aut irure amet summis pariatur ita ubi
				quis dolore veniam proident, consequat sed ingeniis.
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">Dismiss<div class="ripple-wrapper"><div class="ripple ripple-on ripple-out" style="left: 36.3125px; top: 12px; -webkit-transform: scale(10.75); transform: scale(10.75); background-color: rgba(255, 255, 255, 0.843137);"></div></div></button>
			</div>
		</div>
	</div>
</div>
<div id="faq-dialog" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Frequently Asked Questions</h4>
			</div>
			<div class="modal-body">
				<p>
				Fore aut non quem incididunt, varias reprehenderit deserunt quem offendit,
				cillum proident ne reprehenderit, quem ad laborum, quo possumus praetermissum,
				si ne illustriora, hic appellat coniunctione, do labore aliqua quo probant. In
				probant voluptatibus quo mentitum est laboris. Quorum mandaremus graviterque.
				Mentitum id velit, dolor aut litteris, ea varias illustriora, ita commodo ita
				ingeniis, iis nulla appellat incurreret, aut irure amet summis pariatur ita ubi
				quis dolore veniam proident, consequat sed ingeniis.
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">Dismiss<div class="ripple-wrapper"><div class="ripple ripple-on ripple-out" style="left: 36.3125px; top: 12px; -webkit-transform: scale(10.75); transform: scale(10.75); background-color: rgba(255, 255, 255, 0.843137);"></div></div></button>
			</div>
		</div>
	</div>
</div>
<div id="manual-dialog" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">SlimROMs Manual</h4>
			</div>
			<div class="modal-body">
				<p>
				Fore aut non quem incididunt, varias reprehenderit deserunt quem offendit,
				cillum proident ne reprehenderit, quem ad laborum, quo possumus praetermissum,
				si ne illustriora, hic appellat coniunctione, do labore aliqua quo probant. In
				probant voluptatibus quo mentitum est laboris. Quorum mandaremus graviterque.
				Mentitum id velit, dolor aut litteris, ea varias illustriora, ita commodo ita
				ingeniis, iis nulla appellat incurreret, aut irure amet summis pariatur ita ubi
				quis dolore veniam proident, consequat sed ingeniis.
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">Dismiss<div class="ripple-wrapper"><div class="ripple ripple-on ripple-out" style="left: 36.3125px; top: 12px; -webkit-transform: scale(10.75); transform: scale(10.75); background-color: rgba(255, 255, 255, 0.843137);"></div></div></button>
			</div>
		</div>
	</div>
</div>
<div id="irc-dialog" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">IRC Support</h4>
			</div>
			<div class="modal-body">
				<p>
				Fore aut non quem incididunt, varias reprehenderit deserunt quem offendit,
				cillum proident ne reprehenderit, quem ad laborum, quo possumus praetermissum,
				si ne illustriora, hic appellat coniunctione, do labore aliqua quo probant. In
				probant voluptatibus quo mentitum est laboris. Quorum mandaremus graviterque.
				Mentitum id velit, dolor aut litteris, ea varias illustriora, ita commodo ita
				ingeniis, iis nulla appellat incurreret, aut irure amet summis pariatur ita ubi
				quis dolore veniam proident, consequat sed ingeniis.
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">Dismiss<div class="ripple-wrapper"><div class="ripple ripple-on ripple-out" style="left: 36.3125px; top: 12px; -webkit-transform: scale(10.75); transform: scale(10.75); background-color: rgba(255, 255, 255, 0.843137);"></div></div></button>
			</div>
		</div>
	</div>
</div>
<div id="team-dialog" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Join the Team</h4>
			</div>
			<div class="modal-body">
				<p>
				Fore aut non quem incididunt, varias reprehenderit deserunt quem offendit,
				cillum proident ne reprehenderit, quem ad laborum, quo possumus praetermissum,
				si ne illustriora, hic appellat coniunctione, do labore aliqua quo probant. In
				probant voluptatibus quo mentitum est laboris. Quorum mandaremus graviterque.
				Mentitum id velit, dolor aut litteris, ea varias illustriora, ita commodo ita
				ingeniis, iis nulla appellat incurreret, aut irure amet summis pariatur ita ubi
				quis dolore veniam proident, consequat sed ingeniis.
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">Dismiss<div class="ripple-wrapper"><div class="ripple ripple-on ripple-out" style="left: 36.3125px; top: 12px; -webkit-transform: scale(10.75); transform: scale(10.75); background-color: rgba(255, 255, 255, 0.843137);"></div></div></button>
			</div>
		</div>
	</div>
</div>
